@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-layout {
  @apply h-screen flex flex-col gap-4 mt-4;
}

.btn-primary {
  @apply bg-[#BFBFBF] rounded-3xl p-2 px-3 shadow-lg hover:bg-[#818181] lg:text-base disabled:bg-[#d1d1d1] disabled:text-[#737373];
}

.logo p {
  margin-top: -8px;
  font-size: 0.8em;
  letter-spacing: -0.5px;
  word-spacing: -0.2px;
}

.logo h1 {
  letter-spacing: 1px;
}
